/* 전체 */
#noticeReadContentAll{
    padding: 40px 0px;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}



/* 제목 */
#noticeModifyTitlePart{
    border-top: 1px solid #ddd;
}
#noticeModifyTitle{
    padding: 2px;
    margin-top: 10px;
    margin-bottom: 1px;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    line-height: 25px;
    word-break: break-all;
}

/* 해당 글 정보 칸 밑에 줄 - 작성자~조회수 */
#noticeModifyTopBottom{
    padding: 5px 13px 30px 13px;
    margin-top: 1px;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
    line-height: 23px;
    word-break: keep-all;  /*단어 기준으로 줄 바꿈*/
}

/* 작성자~실제 작성자 묶음 */
#modifyLeftInformation{
    float: left;
}
/* 작성자 */
#modifyNoticeWriter{
    margin-right: 7px;
    color: #333;
    font-weight: 500;
    vertical-align: middle;
}
/* 해당 글 작성자 */
#modifyNoticeRealWriter{
    color: #777;
    font-weight: normal;
    vertical-align: middle;
}

/* 작성일~실제 작성일 묶음 */
#modifyRightInformation{
    float: right;
}
/* 작성일 */
#modifyNoticeRegDate{
    float: left;
    margin-right: 7px;
    color: #333;
    font-weight: 500;
    vertical-align: middle;
}
/* 해당 글 작성일 */
#modifyNoticeRealRegDate{
    float: left;
    color: #777;
    font-weight: normal;
    vertical-align: middle;
}



/* 해당 글 내용 */
#noticeModifyContentPart{
    border-bottom: 1px solid #ddd;
}
#noticeModifyContent{
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 400px;
    min-height: 350px;
    font-size: 15px;
    font-weight: normal;
    vertical-align: middle;
    overflow-y: auto;
    resize: none;
}

#modifyBtnGroup{
    margin-top: 20px;
    text-align: center;
    vertical-align: middle;
}
/* 취소 버튼 */
#cancelBtn{
    padding: 7px 15px;
    margin-right: 20px;
    background-color: #236C3F;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    text-align: center;
}

/* 수정 버튼 */
#modifyBtn{
    padding: 7px 15px;
    background-color: #236C3F;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    cursor: pointer;
    text-align: center;
}