@charset "UTF-8";

/* *********************************************************** */
/* 알림장 */
/* Mydiary */
#myDiary {
    width: 100%; /* Full width */
    margin: 0 auto;
    overflow-x: hidden; /* Prevents horizontal overflow */
}

#myDiary .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#myDiary h1 {
    font-size: 30px;
    margin: 20px 20px 0 20px;
}

#myDiary .title .searchBox {
    text-align: right;
    padding-top: 20px;
}

#myDiary .title .search-input {
    width: 250px;
    height: 50px;
}

#myDiary .title .searchBox button {
    margin-left: 5px;
    width: 80px;
    padding: 14px;
    border: 2px solid #cac6c6;
    cursor: pointer;
    border-radius: 12px;
}

#myDiary .dateLook {
    border-top: 1px solid #a7a4a4;
    margin: 20px 0 40px 0;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    padding-top: 30px;
}

#myDiary .myDiary02 {
    display: flex;
    overflow-x: auto; /* Enables horizontal scrolling */
    padding: 20px;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 100px;
    background-color: #236C3F;
}

#myDiary .myDiary02 .petProfile {
    background-color: white;
    border-radius: 20px;
    font-size: 20px;
    margin-right: 20px; /* Spacing between items */
    flex: 0 0 auto; /* Prevents items from shrinking */
    width: 600px; /* Fixed width */
}

#myDiary .myDiary02 .petProfile p:last-child {
    margin-top: 15px;
    padding-left: 30px;
}

#myDiary .myDiary02 .petProfile .store,
#myDiary .myDiary02 .petProfile .date,
#myDiary .myDiary02 .petProfile .petName {
    padding: 25px;
}

#myDiary .myDiary02 .petProfile img {
    width: 100%;
    height: auto;
    border-radius: 20px;
    margin: 20px;
}

#myDiary .myDiary02 .context {
    width: 100%;
    margin-left: 30px;
    border-radius: 20px;
    background-color: white;
    font-size: 20px;
    padding: 25px;
}

#myDiary .myDiary02 .context .weight {
    margin-top: 60px;
}

#myDiary .myDiary02 .context p {
    margin-left: 20px;
}

#myDiary .myDiary02 .context p:first-child {
    font-weight: bold;
}

#myDiary .myDiary02 .context p:last-child {
    border-bottom: 1px dashed #236C3F;
    padding-bottom: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 30px;
}
