@charset "UTF-8";

/* *********************************************************** */
/* 알림장 */
/* Mydiary */


.myDiary-container {
    /* width: 1000px; */
    margin-left: 300px;
    /* padding: 30px 0; */
}
#myDiary {
    width: 1400px;
    margin: 0 auto;
    overflow: hidden; /* Prevents horizontal overflow */
}

#myDiary .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#myDiary h1 {
    font-size: 30px;
    margin: 20px 20px 0 50px;
}

#myDiary .title .searchBox {
    text-align: right;
    padding-top: 20px;
}

#myDiary .title .search-input {
    width: 250px;
    height: 50px;
}

#myDiary .title .searchBox button {
    margin-left: 5px;
    width: 80px;
    padding: 14px;
    border: 2px solid #cac6c6;
    cursor: pointer;
    border-radius: 12px;
}

#myDiary .dateLook {
    border-top: 1px solid #a7a4a4;
    margin: 20px 0 40px 0;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    padding-top: 30px;
}

#myDiary .slider-container {
    position: relative;
    overflow: hidden;
    margin: 20px auto;
    width: 90%;
}

#myDiary .slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

#myDiary .myDiary02 {
    display: flex;
    flex: 0 0 auto;
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    background-color: #236C3F;
}

#myDiary .myDiary02 .petProfile {
    background-color: white;
    border-radius: 20px;
    font-size: 20px;
    margin-right: 20px;
    flex: 0 0 300px;
    width: 300px; /* Fixed width */
}

#myDiary .myDiary02 .petProfile p:last-child {
    margin-top: 15px;
    padding-left: 30px;
}

#myDiary .myDiary02 .petProfile .store,
#myDiary .myDiary02 .petProfile .date,
#myDiary .myDiary02 .petProfile .petName {
    padding: 25px;
}

#myDiary .myDiary02 .petProfile img {
    width: 250px;
    height: auto;
    border-radius: 20px;
    margin: 20px;
}

#myDiary .myDiary02 .context {
    width: 100%;
   
    border-radius: 20px;
    background-color: white;
    font-size: 20px;
    padding: 25px;
}

#myDiary .myDiary02 .context .weight {
    margin-top: 60px;
}

#myDiary .myDiary02 .context p {
    margin-left: 20px;
}

#myDiary .myDiary02 .context p:first-child {
    font-weight: bold;
}

#myDiary .myDiary02 .context p:last-child {
    border-bottom: 1px dashed #236C3F;
    padding-bottom: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 30px;
}

/* 슬라이더 컨트롤 버튼 */
.slider-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

.slider-control.left {
    left: 10px;
}

.slider-control.right {
    right: 10px;
}
#myDiary .slider-container .slider {
    display: flex;
    transition: transform 0.5s ease; /* 이동을 부드럽게 하기 위한 전환 효과 */
}
