/* total-container 스타일 */
.total-container {
    margin: 0 auto;
    width: 1500px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* 그래프 컨테이너 스타일 */
.chart-container {
    object-fit: contain;
    margin-top: 20px; 
    margin-bottom: 20px;
    width: 48%;
    height: 500px;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chart-content {
    flex-grow: 1;
}

/* 엑셀 표 스타일 */
.sales-table {
    width: 100%;
    /* margin-top: 20px; */
    border-collapse: collapse;
}

.sales-table th,
.sales-table td {
    border: 1px solid #ddd;
    padding: 13px;
    /* text-align: center; */
    font-size: 10px;
}

.sales-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

/* Total Sales 스타일 */
.total-sales {
    margin-top: 10px;
    font-weight: bold;
    text-align: center;
}