@charset "UTF-8";


/* 그래프 컨테이너 스타일 */
/* .chart-container {
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
} */

/* 그래프 제목 스타일 */
/* .chart-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
} */

/* 그래프 스타일 */
/* canvas {
    width: 100%;
    height: auto;
} */

