/* 메니저 페이지 공통 헤더 */

.mheader{
    height: 80px;
    /* background-color: aquamarine; */
    position: relative;
    top: 0;
}
.mheader::before{
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 10px 0 rgba(0, 0,0, 0.1);
    pointer-events: none;
    transform: translateX(-50%);
}
.mheader .mheaderWrap{
    width: 1500px;
    height: 80px;
    margin: 0 auto;
    /* background-color: paleturquoise; */
    display: flex;
    justify-content: space-between;
    /* padding-right: 20px; */
    align-items: center;
}

/* 헤더 왼쪽(로고+메뉴) */
.mheader .mheaderWrap .mheaderLeft{
    display: flex;
}
.mheader .mheaderWrap .mheaderLeft .mlogo{
    /* width: 150px; */
    height: 80px;
    /* background-color: plum; */
    display: flex;
    align-items: center;
    /* margin-right: 30px; */
    overflow: hidden;
}
.mheader .mheaderWrap .mheaderLeft .mlogo a img{
    width: 80px;
    height: 80px;
    object-fit: contain;
}
.mheader .mheaderWrap .mheaderLeft .mMenu{
    display: flex;
    align-items: center;
}
.mheader .mheaderWrap .mheaderLeft .mMenu li{
    margin: 0 20px;
    position: relative;
    display: inline-block;
}
.mheader .mheaderWrap .mheaderLeft .mMenu li::after{
    content: '';
    position: absolute;
    bottom: -5px; /* 아이템 아래에 밑줄을 위치시킵니다. */
    left: 0;
    width: 0;
    height: 3px;
    background-color: #237140;
    transition: width 0.3s ease;
}
.mheader .mheaderWrap .mheaderLeft .mMenu li:hover::after {
    width: 100%;
    border-radius: 10px;
}
.mheader .mheaderWrap .mheaderLeft .mMenu li a {
    font-weight: bold;
}
.mheader .mheaderWrap .mheaderLeft .mMenu li:hover a {
    color: #237140;
}

/* 헤더 오른쪽 로그인 */
.mheader .mheaderWrap .mheaderRight{
    display: flex;
}

.mheader .mheaderWrap .mheaderRight p::after{
    content: '|';
    padding: 0 10px;
    color: #d6d6d6;
}
.mheader .mheaderWrap .mheaderRight p strong{
    color: #237140;
}
.mheader .mheaderWrap .mheaderRight p:hover a{
    color: #237140;
}

.mheader .mheaderWrap .mheaderRight a img{
    width: 20px;
    margin-right: 10px;
}
.mheader .mheaderWrap .mheaderRight a:last-child img{
    margin-right: 0;
}