/* 반려견 등록페이지 */
/* ********************************************************* */
/* petAddForm */
#petAddForm h1 {
    margin: 30px 0 50px 200px;
    font-size: 30px;
}


#petAddForm .container form {
    margin: 20px auto;
    width: 1000px;
    /* border: 1px solid black; */

}

#petAddForm {
    width: 1400px;
    height: 1900px;
    margin: 0 auto;
}

#petAddForm .container form {
    display: flex;
}


#petAddForm .container form div {
    width: 450px;
}

#petAddForm .container form label:first-child {
    display: block;
    font-weight: bold;
}

/* #petAddForm .container form .petPhoto {
    width: 300px;
    height: 350px;
    border: 1px solid #a7a4a4;
    background-repeat: no-repeat;
    background-size: cover;
    
} */
#petAddForm .filebox input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    /* clip:rect(0,0,0,0); */
    /* border: 1px solid black; */
}

#petAddForm .filebox label {
    margin-left: 330px;
    display: inline-block;
    padding: .5em .75em;
    color: white;
    font-size: inherit;
    line-height: normal;
    vertical-align: middle;
    background-color: #236C3F;
    border-radius: .25em;
}

/* named upload */
#petAddForm .filebox .upload-name {
    display: inline-block;
    padding: .5em .75em;
    /* label의 패딩값과 일치 */
    font-size: inherit;
    font-family: inherit;
    line-height: normal;
    vertical-align: middle;
    background-color: #f5f5f5;
    border: 1px solid #ebebeb;
    border-bottom-color: #e2e2e2;
    border-radius: .25em;
    -webkit-appearance: none;
    /* 네이티브 외형 감추기 */
    -moz-appearance: none;
    appearance: none;
}

#petAddForm #preview-image {
    width: 400px;
    height: 500px;
}

#petAddForm .container .detailBox {
    margin-top: -30px;
    margin-left: 50px;
}

#petAddForm .container .detail {
    padding-left: 25px;
}

#petAddForm .container .detail label {
    margin-top: 20px;
    margin-bottom: 20px;
}


#petAddForm .container .detail input:nth-child(2) {
    width: 400px;
    height: 40px;
    border: 1px solid #a7a4a4;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 15px;
}


#petAddForm .container .detail button {
    background-color: white;
    border: 1px solid #a7a4a4;
    margin-right: 10px;
    width: 195px;
    height: 40px;
    border-radius: 5px;

}

#petAddForm .container .detail button:hover {
    background-color: #236C3F;
    color: white;
    border: none;
    font-weight: bold;
}

#petAddForm .container #feature .biteRange {
    display: flex;
}

#petAddForm .container #feature .biteRange2 {
    margin-top: 20px;
}


#petAddForm .container #feature .bite label:first-child {
    width: 100px;
    /* height: 40px; */
    /* display: inline-block; */
    text-align: center;
    font-weight: lighter;
    font-size: 16px;
    margin-right: 30px;
}

#petAddForm .container #feature .bite input,
datalist {
    width: 200px;
    accent-color: #236C3F;
}

#petAddForm .container #feature .bite .pbox {
    display: flex;
}

#petAddForm .container #feature .bite p {
    width: 40px;
    font-size: 14px;
    margin-top: -14px;
}

#petAddForm .container #feature .bite p:first-child {
    margin-left: 108px;
}

#petAddForm .container #feature .bite p:nth-child(2) {
    margin-left: 52px;
}

#petAddForm .container #feature .bite p:nth-child(3) {
    margin-left: 52px;
}

#petAddForm .container #feature button {
    width: 96px;
    margin-right: 5px;
}


#petAddForm .container #feature textarea {
    margin-top: 20px;
    text-align: start;
    width: 400px;
    height: 130px;
    padding-left: 5px;
    padding-top: 5px;
    margin-bottom: 30px;
    border: 1px solid #a7a4a4;
    border-radius: 5px;
    resize: none;
    outline: #236C3F;
}

.insertBtnBox {
    margin-left: 660px;
    /* text-align: center; */
}

#petAddForm .container .insertBtn {
    width: 400px;
    height: 50px;
    border: 1px solid #236C3F;
    border-radius: 5px;
    background-color: white;
    color: #236C3F;
    font-weight: bolder;
    font-size: 16px;
}

#petAddForm button:hover {
    cursor: pointer;
}







/* *********************************************************** */
/* 리뷰폼 */
/* reviewForm */

#reviewAddForm {
    width: 1400px;
    /* height: 1900px; */
    margin: 0 auto;

}


#reviewAddForm h1 {
    margin: 30px 0 50px 400px;
    font-size: 30px;
    text-align: left;
}


#reviewAddForm .container form {
    width: 1000px;
    margin-left: 400px;
}

#reviewAddForm h2 {
    margin-bottom: 20px;
}

#reviewAddForm .reviewScore p {
    margin-left: 20px;
    margin-top: 20px;
    font-size: 25px;
}

#reviewAddForm .star-rating {
    display: flex;
    margin-bottom: 60px;

}

#reviewAddForm .star-rating img {
    width: 50px;
    margin-right: 15px;
    cursor: pointer;
}

#reviewAddForm .reviewWrite textarea {
    width: 700px;
    height: 300px;
    padding: 10px;
    resize: none;
    border-radius: 20px;
}

#reviewAddForm .reviewWrite textarea::placeholder {
    color: #a7a4a4;
}

#reviewAddForm .reviewWrite .add_area {
    margin-left: 300px;
    margin-bottom: 80px;
}

#reviewAddForm .reviewPhoto2 {
    display: flex;
}

#reviewAddForm .reviewPhoto h2 {
    width: 120px;
}

/* 사진등록  말풍선 */
#reviewAddForm .pull {
    position: relative;
    width: 240px;
    height: 40px;
    padding: 10px 0 10px 16px;
    color: #FFF;
    border-radius: 20px;
    background-color: #414141;
    display: flex;
    font-size: 15px;
}

#reviewAddForm .reviewPhoto .pull p {
    color: yellow;
    font-weight: bold;
}


#reviewAddForm .pull::before {
    content: "";
    position: absolute;
    top: 10px;
    left: -6px;
    border-right: 10px solid #414141;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

#reviewAddForm .reviewWrite p {
    text-align: center;
}


#reviewAddForm .reviewPhoto input {
    display: none;
}

#reviewAddForm .pBox1 {
    color: gray;
    font-size: 14px;
}

/* 사진첨부 미리보기 */
#reviewAddForm .reviewPhoto .photoBox {
    width: 650px;
    display: flex;
    justify-content: space-between;
}

#reviewAddForm .reviewPhoto #photoBox2 {
    width: 200px;
    height: 200px;
    border: 1px solid #a7a4a4;
    margin-top: 5px;
    margin-bottom: 10px;
}


#reviewAddForm .pBox2 {
    color: gray;
    font-size: 14px;
    margin-bottom: 50px;
}

#reviewAddForm .reviewPhoto .input-file-button {
    padding: 6px 25px;
    background-color: white;
    border: 1px solid #a7a4a4;
    border-radius: 3px;
    cursor: pointer;
    font-size: 30px;
}

#reviewAddForm .submitBtn {
    margin-left: 50px;
    text-align: center;
}

#reviewAddForm .submitBtn button {
    padding: 20px;
    width: 300px;
    margin-bottom: 100px;
    background-color: #236C3F;
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 18px;
}





/* *********************************************************** */
/* 알림장 */
/* Mydiary */
#myDiary {
    width: 1400px;
    margin: 0 auto;
}

#myDiary h1 {
    margin: 30px 0 20px 200px;
    font-size: 30px;

}

#myDiary .container .dateBox {
    /* background-color: red; */
    border-top: 1px solid #a7a4a4;
    padding-top: 20px;
    width: 1100px;
    text-align: right;
    margin: 0 0 30px 200px;
}

#myDiary .container .dateBox label {
    padding: 10px;
    background-color: #e2e2e2;
    border-radius: 10px;
}

#myDiary .container .dateBox input {
    width: 150px;
    height: 40px;
    border: 1px solid #236C3F;
    border-radius: 30px;
    font-size: 16px;
    padding: 8px;
    margin-bottom: 10px;
}

.myDiary02 {
    width: 300px;
    background-color: #e2e2e2;
    border-radius: 20px;
    margin-left: 200px;
}

.myDiary02 .relevantDate {
    padding: 5px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #414141;
}

.myDiary02 .relevantDate span {
    font-size: 16px;
    font-weight: lighter;
}

.myDiary02 .mypetImgSlider img {
    margin-top: 10px;
    margin-left: 10px;
    width: 280px;
    height: 250px;
    border-radius: 20px;
}

.myDiary02 .context div {
    display: flex;
    padding: 3px;
    margin-left: 20px;
}

.myDiary02 .context {
    width: 250px;
    /* background-color: red; */
    margin-left: 20px;
}

.myDiary02 .context div p:first-child {
    font-weight: bold;
    width: 130px;
    /* background-color: red; */
    /* text-align: center; */
}






/* ****************************************************** */
/* 예약폼 */
/* reservationForm */
#reservationForm {
    width: 1200px;
    margin: 0px auto;
    font-size: 20px;
}

#reservationForm .managerInfor {
    display: flex;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #a7a4a4;
}

#reservationForm .managerInfor .managerInfor2 {
    margin-left: 50px;
}

#reservationForm .managerInfor .managerInfor2 p {
    margin: 18px auto;
}

#reservationForm .managerInfor .managerInfor2 p label {
    color: #236C3F;
    font-weight: bold;
    padding: 3px;
    /* background-color: red; */
}

#reservationForm .h2Box1 h2 {
    font-size: 25px;
    margin-bottom: 15px;
}
#reservationForm form h2{
    font-size: 25px;
    margin: 30px 0 30px 0;
}
#reservationForm .choiceBox {
    margin: 30px 0 0 30px;
    display: flex;
    /* background-color: red; */
    /* border-bottom: 1px solid #a7a4a4; */
}


#reservationForm .choiceBox .time {
    width: 400px;
    height: 350px;
    margin: 0 0 20px 100px;
}
#reservationForm .choiceBox .time p{
    margin: 15px;
}
#reservationForm .choiceBox .time button {
    padding: 15px;
    margin: 5px;
    width: 90px;
    background-color: white;
    border: 1px solid #236C3F;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
#reservationForm .choiceBox .time button:hover{
    background-color: #236C3F;
    color: white;
}

#reservationForm .petKgChoice {
    display: flex;
}


#reservationForm .signBox .sign{
    width: 625px;
    height: 200px;
}