#petAddForm {
    display: flex;
}

/* 반려견 등록페이지 */
/* 사이드바 */
.sidebar {
    margin-top: 3px;
    margin-left: -135px;
    width: 280px;
    height: 800px;
    background-color: #ddeee4;
    border-radius: 5px;
}

.sidebar .profile {
    width: 220px;
    height: 150px;
    margin: 20px 0 20px 20px;
    display: flex;
    /* background-color: red; */
    border-bottom: 1px solid black;
}

.sidebar .profile img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}


.sidebar .profileId {
    margin: 50px 0 0 20px;
}

.sidebar .profileId label:first-child {
    font-weight: bold;
}

.sidebar .profileId img {
    width: 10px;
    height: 10px;
}




.sidebar .profilePet {
    display: flex;
}

.sidebar .profileTitle {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.sidebar .profileTitle p {
    font-weight: bold;
    margin-left: 20px;
}

.sidebar .profileTitle button {
    margin-right: 15px;
    width: 20px;
    /* font-weight: bold; */
    font-size: 15px;
    background-color: white;
    border: 1px solid black;
}

.sidebar .profilePet {
    margin: 20px 0 20px 20px;
    /* background-color: red; */
}

.sidebar .profilePet img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.sidebar .profilePet p {
    width: 110px;
    height: 50px;
    text-align: center;
    margin-top: 30px;
    /* background-color: red; */

}

#petAddForm h1 {
    margin: 50px 0 0 50px;
    font-size: 30px;
}


/* petAddForm */
#petAddForm .container form {
    margin: 0 auto;
    width: 1000px;
    /* border: 1px solid black; */
}

#petAddForm {
    /* border: 1px solid black; */
    width: 1400px;
    height: 1900px;
    margin: 0 auto;

}

#petAddForm .container form div {
    margin: 0 auto;
    width: 450px;
    /* background-color: red; */
}

#petAddForm .container form label:first-child {
    /* background-color: red; */
    display: block;
    font-weight: bold;
}

#petAddForm .container form .petPhoto {
    margin-top: 40px;
    margin-bottom: 100px;
    width: 290px;
    height: 290px;
    border: 1px solid #a7a4a4;
    border-radius: 50%;
    background-image: url('@/assets/images/profile_sample.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#petAddForm .container form .petPhoto .cameraBtn {
    background-color: #dddddd;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 200px 200px;
    text-align: center;
    border: none;
}

#petAddForm .container form .petPhoto img {
    width: 60px;
    margin-top: 2px;
    opacity: 0.5;
}

#petAddForm .container .detail {
    padding-left: 25px;
}

#petAddForm .container .detail label {
    margin-top: 20px;
    margin-bottom: 20px;
}


#petAddForm .container .detail input:nth-child(2) {
    width: 400px;
    height: 40px;
    border: 1px solid #a7a4a4;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 15px;
    /* margin-top: 10px;
    margin-bottom: 10px; */
}


#petAddForm .container .detail button {
    background-color: white;
    border: 1px solid #a7a4a4;
    margin-right: 10px;
    width: 195px;
    height: 40px;
    border-radius: 5px;

}

#petAddForm .container .detail button:hover {
    background-color: #236C3F;
    color: white;
    border: none;
    font-weight: bold;
}

#petAddForm .container #feature .bite label:first-child {
    width: 80px;
    height: 40px;
    padding-top: 10px;
    display: inline-block;
    text-align: center;
    font-weight: lighter;
    margin-right: 15px;
    font-size: 16px;
}

#petAddForm .container #feature .bite input {
    width: 50px;
    margin-left: -5px;
    margin-right: 10px;
}

#petAddForm .container #feature button {
    width: 96px;
    margin-right: 5px;
}


#petAddForm .container #feature textarea {
    text-align: start;
    width: 400px;
    height: 130px;
    padding-left: 5px;
    padding-top: 5px;
    margin-bottom: 50px;
    border: 1px solid #a7a4a4;
    border-radius: 5px;
    resize: none;
    outline: #236C3F;
}

.insertBtnBox {
    text-align: center;
}

#petAddForm .container .insertBtn {
    width: 400px;
    height: 50px;
    border: 1px solid #236C3F;
    border-radius: 5px;
    background-color: white;
    color: #236C3F;
    font-weight: bolder;
    font-size: 16px;
}

#petAddForm button:hover {
    cursor: pointer;
}







/* *********************************************************** */
/* reviewForm */

#reviewAddForm {
    width: 1400px;
    height: 1900px;
    margin: 0 auto;
    display: flex;

}

#reviewAddForm .container {
    margin: 0 auto;
}

#reviewAddForm .container h1{
    margin: 50px 0 30px 50px;
    font-size: 30px;
}

#reviewAddForm .container form {
    margin: 0 auto;
    width: 1000px;
    /* border: 1px solid black; */
}


#reviewAddForm textarea {
    width: 500px;
    height: 200px;
    padding: 10px;
    resize: none;

}

#reviewAddForm textarea::placeholder {
    color: #a7a4a4;
}


#reviewAddForm .star-rating {
    display: flex;
}

#reviewAddForm .star-rating img {
    width: 50px;
}

#reviewAddForm .reviewPhoto2{
    display: flex;
}

#reviewAddForm .reviewPhoto h2{
    width: 120px;
    height: 40px;
}
#reviewAddForm .pull {
    position: relative;
    width: 240px;
    height: 40px;
    padding: 10px 0 10px 16px;
    color: #FFF;
    border-radius: 20px;
    background-color: #414141;
    display: flex;
    font-size: 15px;
}
#reviewAddForm .reviewPhoto p{
    color: yellow;
    font-weight: bold;
}


#reviewAddForm .pull::before {
    content: "";
    position: absolute;
    top: 10px;
    left: -6px;
    border-right: 10px solid #414141;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

#reviewAddForm .reviewWrite p{
    text-align: center;
}
#reviewAddForm .reviewPhoto input{
    display: none;
}
#reviewAddForm .reviewPhoto .input-file-button{
    padding: 6px 25px;
    background-color:white;
    border: 1px solid #a7a4a4;
    border-radius: 3px;
    cursor: pointer;
    font-size: 30px;
  }