/* 예약확인 페이지 + 마이페이지 메인 */

/* =========================마이페이지 메인======================= */
.mypageContainer{}
.mypageContainer .container{
    width: 880px;
    margin: 0 0 0 645px;
}

/* ========= 마일리지 내역 ========= */
.mypageContainer .mpUsePointContainer{
    width: 100%;
    padding: 30px 0px;
    margin-bottom: 30px;
}
/* 마일리지내역 윗부분 */
.mypageContainer .mpUsePointContainer .mpupTop{
    border-bottom: 1px solid #333;
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding-bottom: 10px;
    margin-bottom: 30px;
}
.mypageContainer .mpUsePointContainer .mpupTop a{
    font-weight: bold;
    font-size: 16px;
}

/* 마일리지내역 내용 */
.mypageContainer .mpUsePointContainer .mpupContents{
    background-color: #fff;
    border: 1px solid #237140;
    border-radius: 10px;
    padding: 30px;
}
.mypageContainer .mpUsePointContainer .mpupContents >div{
    display: flex;
    align-items: center;
    margin: 10px 0;
}
.mypageContainer .mpUsePointContainer .mpupContents >div p:first-child{
    color: #237140;
    width: 160px;
    margin-right: 10px;
    font-weight: bold;

}
.mypageContainer .mpUsePointContainer .mpupContents>div p:nth-child(2){
    color: #f27370;
    font-weight: bold;
    font-size: 30px;
}

/* ========= 예약 내역 ========= */
.mypageContainer .mpReserveConfirmContainer{
    width: 100%;
    /* background-color: palegreen; */
    padding: 30px 0px;
    margin-bottom: 30px;
}
/* 예약내역 윗부분 */
.mypageContainer .mpReserveConfirmContainer .mprcTop{
    border-bottom: 1px solid #333;
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding-bottom: 10px;
    margin-bottom: 30px;
}
.mypageContainer .mpReserveConfirmContainer .mprcTop a{
    font-weight: bold;
    font-size: 16px;
}
/* 예약내역 내용 */
.mypageContainer .mpReserveConfirmContainer .mprcContents{
    background-color: #fff;
    border: 1px solid #237140;
    border-radius: 10px;
    padding: 30px;
}
.mypageContainer .mpReserveConfirmContainer .mprcContents a>div{
    display: flex;
    margin: 10px 0;
}
.mypageContainer .mpReserveConfirmContainer .mprcContents a>div p:first-child{
    color: #237140;
    width: 90px;
    font-weight: bold;
}


/* ========= 후기 ========= */
.mypageContainer .mpReviewConfirmContainer{
    width: 100%;
    /* background-color: palegreen; */
    padding: 30px 0px;
    margin-bottom: 30px;
}
/* 후기 윗부분 */
.mypageContainer .mpReviewConfirmContainer .mprvcTop{
    border-bottom: 1px solid #333;
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding-bottom: 10px;
    margin-bottom: 30px;
}
.mypageContainer .mpReviewConfirmContainer .mprvcTop h3{}
.mypageContainer .mpReviewConfirmContainer .mprvcTop a{
    font-weight: bold;
    font-size: 16px;
    
}
/* 후기 내용 */
.mypageContainer .mpReviewConfirmContainer .mprvcContents{
    background-color: #fff;
    border: 1px solid #237140;
    border-radius: 10px;
    padding: 30px;
}
/* 후기 내용 예약정보부분 */
.mypageContainer .mpReviewConfirmContainer .mprvcContents .mprvcContentsInfo{
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: flex;
}
.mypageContainer .mpReviewConfirmContainer .mprvcContents .mprvcContentsInfo >img{
    width: 50px;
    height: 50px;
    margin-right: 20px;
}
/* 후기 내용 예약정보부분 - 이용정보 */
.mypageContainer .mpReviewConfirmContainer .mprvcContents .mprvcContentsInfo .mprvcContentsInfos{
    display: flex;
    margin-bottom: 5px;
}

.mypageContainer .mpReviewConfirmContainer .mprvcContents .mprvcContentsInfo .mprvcContentsInfos p{
    margin-right: 30px;
}
.mypageContainer .mpReviewConfirmContainer .mprvcContents .mprvcContentsInfo .mprvcContentsInfos p span{
    font-weight: bold;
    color: #237140;
}
/* 후기 내용 예약정보부분 - 별점 */
.mypageContainer .mpReviewConfirmContainer .mprvcContents .mprvcContentsInfo .star-rating {}

.mypageContainer .mpReviewConfirmContainer .mprvcContents .mprvcContentsInfo .star-rating img {
    width: 20px;
    margin-right: 5px;
}

/* 후기내용 내가 쓴부분 */
.mypageContainer .mpReviewConfirmContainer .mprvcContents .mprvcContentsMine{}



/* ========= 알림장 ========= */
.mypageContainer .mpDiaryConfirmContainer{
    width: 100%;
    /* background-color: palegreen; */
    padding: 30px 0px;
    margin-bottom: 30px;
}


/* 알림장 윗부분 */
.mypageContainer .mpDiaryConfirmContainer .mpdcTop{
    border-bottom: 1px solid #333;
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding-bottom: 10px;
    margin-bottom: 30px;
}


.mypageContainer .mpDiaryConfirmContainer .mpdcTop h3{}
.mypageContainer .mpDiaryConfirmContainer .mpdcTop a{
    font-weight: bold;
    font-size: 16px;
    
}
/* 알림장 내용 */
.mypageContainer .mpDiaryConfirmContainer .mpdcContents{
    background-color: #fff;
    border: 1px solid #237140;
    border-radius: 10px;
    padding: 30px;
    display: flex;
}
/* 알림장 내용 -알림장 사진 */
.mypageContainer .mpDiaryConfirmContainer .mpdcContents .mpdcImg{
    margin-right: 30px;
    padding-right: 30px;
    border-right: 1px solid #237140;
}
.mypageContainer .mpDiaryConfirmContainer .mpdcContents .mpdcImg img{
    width: 200px;
    height: 200px;
    object-fit: contain;
    border-radius: 15px;
}
/* 알림장 내용 -알림장 내용 */
.mypageContainer .mpDiaryConfirmContainer .mpdcContents .mpdcInfo1 {
    margin-right: 30px;
    border-right: 1px solid #ddd;
    padding-right: 30px;
    width: 350px;
}
.mypageContainer .mpDiaryConfirmContainer .mpdcContents .mpdcInfo1 p{
    line-height: 30px;
}
.mypageContainer .mpDiaryConfirmContainer .mpdcContents .mpdcInfo1 p span{
    font-weight: bold;
    color: #237140;
}
.mypageContainer .mpDiaryConfirmContainer .mpdcContents .mpdcInfo2{
    width: 540px;
}
.mypageContainer .mpDiaryConfirmContainer .mpdcContents .mpdcInfo2 p{
    line-height: 30px
}
.mypageContainer .mpDiaryConfirmContainer .mpdcContents .mpdcInfo2 p span{
    font-weight: bold;
    color: #237140;
}



/* =========================예약확인 페이지======================= */
/* ========= 예약상세 내역 ========= */
.container6{
    width: 880px;
    margin: 0 0 0 645px;
    padding: 60px 0;
}

.container6 h1{
    margin-bottom: 30px;
    padding-bottom: 10px ;
    border-bottom: 1px solid #666;
}
.reserveCheckForm{
    width: 100%;
    background-color: #fff;
    margin: 0 auto;
    padding: 40px;
    border: 1px solid #237140;
    border-radius: 10px;
    margin-bottom: 30px;
}




/* 예약정보 */
.reserveCheckForm .rcfInfo{
    margin-bottom: 20px;
    /* display: flex; */
}
.reserveCheckForm .rcfInfo >div{
    /* display: flex; */
    margin: 10px 0;
}
.reserveCheckForm .rcfInfo >div >div{
    /* display: flex; */
    /* align-items: center; */
}
.reserveCheckForm .rcfInfo >div p:first-child{
    color: #237140;
    width: 90px;
    font-weight: bold;
    padding: 5px 0 5px 0;
}
.reserveCheckForm .rcfInfo >div p:last-child{
    padding-bottom: 10px;
}

/* 결제금액 */
.reserveCheckForm .rcfSum{
    margin-bottom: 20px;
}
.reserveCheckForm .rcfSum >div{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}
.reserveCheckForm .rcfSum >div:nth-child(2){
    border-bottom: 1px solid #237140;
    padding-bottom: 15px;
}
.reserveCheckForm .rcfSum >div p{
    font-size: 17px;
    font-weight: bold;
}

/* 최종금액 */
.reserveCheckForm .rcfChange{}
.reserveCheckForm .rcfChange button{
    display: block;
    margin: 0 auto;
    border: none;
    padding: 15px 0;
    border-radius: 10px;
    width: 100%;
    font-size: 16px;
    color: #aaa;
}
.reserveCheckForm .rcfChange button span{
    font-size: 20px;
    /* font-weight: bold; */
}



/* 후기 작성버튼 */
.reserveCheckForm .rrfChange >a{
    display: block;
    margin: 0 auto;
    padding: 15px 0;
    border-radius: 10px;
    width: 100%;
    font-size: 16px;
    color: #fff;
    background-color: #237140;
    font-weight: bold;
    text-align: center;
    border: 1px solid #237140;
}
.reserveReviewForm .rrfChange >a:hover{
    background-color: #1d5e35;
    font-weight: bold;
    border: 1px solid #237140;
}



/* 후기 작성버튼 */
.reserveCheckForm .rrfConfirm >button{
    display: block;
    margin: 0 auto;
    border: 1px solid #237140;
    padding: 15px 0;
    border-radius: 10px;
    width: 100%;
    font-size: 16px;
    color: #237140;
    background-color: white;
    font-weight: bold;
    text-align: center;
}
.reserveCheckForm .rrfConfirm >a:hover,
.reserveCheckForm .rrfConfirm >button{
    color: #fff;
    background-color: #237140;
    font-weight: bold;
    cursor: pointer;
}


/* =========================후기확인 페이지======================= */
.reseerveContainer{}
.reseerveContainer .container7{
    width: 880px;
    margin: 0 0 0 645px;
    padding: 60px 0;
}
.reseerveContainer .container7 h1{
    margin-bottom: 30px;
    padding-bottom: 10px ;
    border-bottom: 1px solid #666;
}

/* 모달창 */
.reseerveContainer .modal-wrap {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}

/* modal or popup */
.reseerveContainer .modal-container {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 900px;
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
}

.reseerveContainer .modal-btn {
    text-align: right;
}

.reseerveContainer .modal-btn button {
    padding: 15px;
    border: none;
    font-size: 18px;
    border-radius: 20px;
    background-color: #1d5e35;
    color: white;
}

.reseerveContainer .modal-btn button:hover {
    cursor: pointer;
}


.reseerveContainer  .inputSearch {
    /* background-color: red; */
    text-align:end ;

}
.reseerveContainer  .inputSearch label{
    font-size: 18px;
    padding-right: 80px;
}

.reseerveContainer  .inputSearch input{
    width: 200px;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #237140;
    border-radius: 10px;
}