#reviewCon{
    width: 1400px;
    margin: 0 auto;
}

#reviewCon h1{
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #dddddd;
}

#reviewCon .reviewBox{
    display: flex;
    margin-left: 50px;
    /* justify-content: space-between; */
}

.reviewCon02 {
    width: 300px;
    /* background-color: #efeeee; */
    border: 1px solid #dddddd;
    border-radius: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

.reviewCon02  .cutName{
    font-weight: bold;
    font-size: 20px;
    width: 300px;
    text-align: center;
    margin-top: 20px;
}
.reviewCon02 .cutInfor{
    margin-top: 10px;
    margin-left: 20px;
}
.reviewCon02 .mypetImgSlider img {
    margin-top: 25px;
    margin-left: 25px;
    width: 250px;
    height: 280px;
    border-radius: 20px;
}
.reviewCon02 .context{
    width: 260px;
    height: 200px;
    /* background-color: red; */
    margin-top: 10px;
    margin-left: 20px;
    border-top: 1px solid black;
    padding-top: 5px;
}

