/* 공통! */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
div{
    font-family:"Pretendard", sans-serif;
}
.container{
    width: 1200px;
    margin: 0 auto;
    background-color: pink;
    height: 750px;
}
li{
    list-style: none;
}
a{
    color: black;
    text-decoration: none;
}