@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');

#login-container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* transform: scale(1.1); */
}

.login-box {
    margin: 70px 0 20px 0;
    width: 500px;
    padding: 40px 60px 30px 60px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.login-box .con-logo {
    /* width: 300px; */
    height: 90px;
    object-fit: contain;
    margin-bottom: 20px;
}

.login-box .login-form {
    margin-top: 20px;
    width: 100%;
}

.login-box .form-group-login {
    margin-bottom: 5px;
    width: 100%;
    text-align: center;
    position: relative;

}

.login-box .form-group-login input {
    width: calc(100% - 40px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: inline-block;
}

.login-box .password-input input {
    width: 100%;
    padding-right: 30px;
}

.login-box .toggle-password {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}


.login-box .toggle-password i {
    color: #999;
    /* 회색 계열 */
}

.login-box .loginBtn {
    width: calc(100% - 40px);
    padding: 11px 0;
    background-color: #236C3F;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 7px;
    margin-top: 15px;
}

.login-box .signup-link {
    font-size: 14px;
    color: #666;
    text-align: right;
    margin-right: 20px;
    padding: 10px 10px 0;
}

.login-box .manager-signup {
    color: #236C3F;
    font-weight: bold;
    border-bottom: 1px solid #236C3F;
}

.login-box .signinBtn {
    width: calc(100% - 40px);
    padding: 10px;
    background-color: white;
    color: #236C3F;
    border: 1px solid #236C3F;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 7px;
}


/* 간편 로그인 또는 기업 로그인 */

.login-box .easy-login{
    
}

.login-box .easy-login .orBorder{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0 20px;
}
.login-box .easy-login .orBorder .leftOrBorder{
    width: 70px;
    height: 1px;
    background-color: #ccc;
}
.login-box .easy-login .orBorder p{
    color: #aaa;
}
.login-box .easy-login .orBorder .rightOrBorder{
    width: 70px;
    height: 1px;
    background-color: #ccc;
}



.login-box .sns01 {
    /* display: flex;
    justify-content: center; */
    margin-bottom: 30px;
}

.kakao,
.naver {
    cursor: pointer;
}
.kakao {
    margin-right: 10px;
}

.login-image-container {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 이미지 스타일 */
.login-image-container img {
    width: 500px;
    /* max-width: 450px; */
    /* object-fit: cover; */
    height: 100px;
}

.login-footer-ul {
    list-style: none;
    padding: 0;
    margin: 20px 0 10px 0;
    font-size: 14px;
}

.login-footer-ul li {
    display: inline;
    margin-right: 10px;
    color: #666;
    line-height: 20px;
}

.login-footer-ul li::after {
    content: "|";
    margin-left: 10px;
}

.login-footer p {
    font-size: 14px;
    color: #666;
}