#msignup-container {
    width: 100%;
    margin: 0 auto;
    text-align: left;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
#msignup-container  .msignup-box .con-logo{
    height: 90px;
    object-fit: contain;
    margin-bottom: 20px;
}

.msignup-box {
    margin: 50px 0 20px 0;
    width: 450px;
    padding: 60px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.msignup-form {
    margin-top: 20px;
    width: 100%;
}

.form-group-man {
    margin-bottom: 20px;
    width: 270px;
    position: relative;
}

.form-group-man:nth-child(2),
.form-group-man:nth-child(5) {
    margin-bottom: 10px;
}

.form-group-man input {
    width: calc(100% - 40px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: inline-block;
}

.input-container {
    display: flex;
    width: 320px;
    align-items: center;
}

.input-container input {
    flex: 1;
}

.small-btn {
    width: 80px;
    padding: 10px;
    border: none;
    background-color: #236C3F;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}


.btn00{
    background-color: #4CAF50;
    width: 80px;
    padding: 10px;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 13px;
    margin-left: 10px;
    text-align: center;
}

.green-btn {
    background-color: #4CAF50;
}

.msignupBtn {
    width: 320px;
    padding: 15px;
    background-color: #236C3F;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 15px;
    margin-top: 30px;
}

.error-message {
    color: red;
    font-size: 12px;
}

.success-message {
    color: blue;
    font-size: 12px;
}