/* 메니저 페이지 공통 헤더 */
.mheader{
    height: 100px;
    background-color: aquamarine;
}
.mheader .mheaderWrap{
    width: 1200px;
    height: 100px;
    margin: 0 auto;
    background-color: paleturquoise;
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    align-items: center;
}
/* 헤더 왼쪽(로고+메뉴) */
.mheader .mheaderWrap .mheaderLeft{
    display: flex;
}
.mheader .mheaderWrap .mheaderLeft .mlogo{
    width: 150px;
    height: 100px;
    background-color: plum;
}
.mheader .mheaderWrap .mheaderLeft .mMenu{
    display: flex;
    align-items: center;
}
.mheader .mheaderWrap .mheaderLeft .mMenu a{}
.mheader .mheaderWrap .mheaderLeft .mMenu a li{
    margin: 0 20px;
}
/* 헤더 오른쪽 로그인 */
.mheader .mheaderWrap .mheaderRight{}